body {
    background-color:gold;
}
.main-nav {
    background: #2a2a2a;
    text-transform: uppercase;
}
.banner {
    padding: 10%;
    margin-right: 10%;
    background-color: beige;
    float: right;
    width: 60%;
      
}
 
.topnav a {
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    margin-left: 20px;
    padding: 2%;
}
img{
    width: 95%;
    height: 308px;
   
}
.sida {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    
    line-height: 153%;
    margin-left: 7%;

    color: #000;
    line-height: 153%;
    margin-left: 7%;
}
.text{

    height: 20%;
    
     
   
}
.topnav{
    max-width: 95%;
    background-color: black;
    font-size: small; 
    border-top: 5px solid blueviolet;
    border-bottom: 5px solid blueviolet;  
}
.under.sida{
    -webkit-margin-collapse: discard;
    font-size: small;
    border-top: 3px solid #ebebeb;
    border-bottom: solid #ebebeb;
    width: 85%;
    margin-left: 10%;
  
}
.content{
    display: flex;
}
.right{
    width: 20%;
    
}
.h4{
    width: 20%;
}
.h5{
    width: 52px;
    width: 87%;
    margin-left: 2%;
  
}
.content{
    display: flex;
}
.logo{
    width: 95%;
}
.log{
    width: 78%;
    margin-top: 15%;
}
.hotel{
    margin-top: 15%;
    color: aqua;
    margin-left: 26%;
}