
body {
    background-color:gold;
}
.main-nav {
    background: #2a2a2a;
    text-transform: uppercase;
}
.banner {
    padding: 10%;
    margin-right: 10%;
    background-color: beige;
    float: right;
    width: 60%;     
}
.topnav a {
    font-size: 2em;
    font-family: serif;
    color: white;
    margin-left: 20px;
    padding: 2%;
}
.sida {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;   
    line-height: 153%;
    margin-left: 7%;
    color: #000;
}
.text{

    height: 20%;  
}
.topnav{
    max-width: 95%;
    background-color: black;
    font-size: small; 
    border-top: 5px solid blueviolet;
    border-bottom: 5px solid blueviolet;  
}
.under.sida{
    -webkit-margin-collapse: discard;
    font-size: small;
    border-top: 3px solid #ebebeb;
    border-bottom: solid #ebebeb;
    width: 87%;
    margin-left: 10%;
    margin-bottom: 20%;
}
.right{
    width: 20%;
    margin-top: 17%;
}
.h4{
    width: 20%;
}
.h5{
    margin-left:5%;
    margin-top:1%;
}
.content{
    display: flex;
}
.logo{
    width: 95%;
}
.log{
    width: 78%;
    margin-top: 11%;
}
.hotel{
   
    margin-top: 20%;
    color: aquamarine;
    margin-left: 26%;
}
section{
    background-color: blueviolet;
    padding: 5%; 
    margin-top:17%;
}
article{
    background-color:white;
    margin-top:5px;
    padding:10px 15px;
}
header{
    margin:0;
}
.nti{
  margin-top:27px;
}
 .left{
 padding-bottom: 24%;
}
.tvätt{
padding:10px 15px;
margin-top:5px; 
}
