body {
    background-color:gold;
}
.main-nav {
    background: #2a2a2a;
    text-transform: uppercase;
}
.banner {
    padding: 10%;
    margin-right: 10%;
    background-color: beige;
    float: right;
    width: 60%;
      
}
 
.topnav a {
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    margin-left: 20px;
    padding: 2%;
}
<<<<<<< HEAD

=======
  
>>>>>>> 7a0eafc3ef8ae2a5f3c1f4dfa8f2a43d95e2a4f9
img{
    width: 95%;
    height: 308px;
   
}
.sida {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
<<<<<<< HEAD
    
    line-height: 153%;
    margin-left: 7%;
=======
    color: #000;
    line-height: 153%;
    margin-left: 7%;
}
.text{

    height: 20%;
    
     
   
>>>>>>> 7a0eafc3ef8ae2a5f3c1f4dfa8f2a43d95e2a4f9
}
.topnav{
    max-width: 95%;
    background-color: black;
    font-size: small; 
    border-top: 5px solid blueviolet;
    border-bottom: 5px solid blueviolet;  
}
.under.sida{
    -webkit-margin-collapse: discard;
    font-size: small;
    border-top: 3px solid #ebebeb;
    border-bottom: solid #ebebeb;
<<<<<<< HEAD
    width: 85%;
    margin-left: 10%;
  
}
.content{
    display: flex;
}
.right{
    width: 20%;
    margin-top: 255px;
}
.h4{
    width: 20%;
}
.h5{
    width: 52px;
=======
    width: 87%;
    margin-left: %;
  
>>>>>>> 7a0eafc3ef8ae2a5f3c1f4dfa8f2a43d95e2a4f9
}
.content{
    display: flex;
}